body {
    background-color: #3D437E;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    display: flex;
}

#main-container {
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
    margin-right: 50px;
    padding: 0px;
    background-color: #3D437E;

}

#top-card {
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;
    background-color: #E8A3BE;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border: 2px solid #e6e6e6;
    position: fixed;
    z-index: 1000;
    width: 85.6%;
    max-width: 500px;
    min-height: 176.5px;

}

#bottom-card {
    margin-top: 160px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;
    padding-top: 100px;
    background-color: #f2f2f2;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 2px solid #e6e6e6;
    position: fixed;
    width: 100%;
    max-width: 500px;
    height: 300px;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; 
    z-index: 1;
    width: 85.6%;

}




.bird-search input[type="submit"] {
    background-color: #F50348;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.bird-search input[type="submit"]:hover {
    background-color: #2C315C;
}

button {
    background-color: #F50348;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

button:hover {
    background-color: #2C315C;
}



.bird-search input[type="text"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #E8A3BE;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 400;
    color: #212529;
    margin-bottom: 10px;
    width: 85.6%;
    background-color: #E8A3BE;
    
}


.user-info {
    position: fixed;
    z-index: 5;
    margin-left: 260px;
    margin-top: 590px;
    color: #f2f2f2;
    font-size: 9pt;
}

.logo {
    position: fixed;
    z-index: 5;
    margin-left: 10px;
    margin-top: 585px;
    color: #f2f2f2;
    font-size: 24pt;
    font-weight: bold;
}

#suggestions {
    max-height: 300px;
    overflow-y: auto;
    margin-top: 5px;
}


#message {
    margin-top: 10px;
}

#top-main {
    padding: 0px;
}

#update-message {
    margin-top: 15px;
    
}

#userlist {
    margin-top: 10px;
}

#working {
    color: red
}

#existing-lists ul.no-bullets li {
    padding: 10px 0;  /* Adjust as needed */
}

#name-header {
    margin-top: 10px;
    padding-top: 10px;  

}

#total-logged {
    margin-top: 10px;
    padding-top: 10px;  
}

#logo-link {
    margin-top: 10px;
}

.unseen {
    color: gray;
}

.seen {
    font-weight: bold;
}

#book {
    font-size: 12pt;
}

#button-container {
    margin-top: 10px;
}

.flex-container {
    display: flex;
    align-items: center; /* This will vertically align the items if they have different heights */
    justify-content: space-between; /* Adjust this according to your design requirements */
}

/* Ensure the form and the button grow and shrink appropriately */
.add-bird, .more-options {
    flex: 1; /* Adjust the flex-grow, flex-shrink, and flex-basis values as needed */
}

#top-main {
    display: flex; /* Establishes a flex container */
    align-items: center; /* Centers items vertically within the container */
    justify-content: space-between; /* Spreads out the form and the button */
    padding-bottom: 20px; /* Add padding as needed */
}

/* Styles for the form and the button to ensure they can grow as needed */
.bird-search, #button-container {
    flex-grow: 1;
    margin-right: 10px; /* Add some space between the form and the button */
}


.progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 25px;
    overflow: hidden;
}

.progress-bar-fill {
    height: 25px;
    background-color: #F50348;
    text-align: center;
    line-height: 25px;
    color: black;
}

#title {
    text-align: center;
    font-size: 36pt;
    font-weight: bold;
}

#sighted-filter {
    margin-top: 10px;
}

#more-options-content {
    overflow-y: auto;
    max-height: 310px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

/* For Chrome, Safari, and Opera */
#more-options-content::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
#more-options-content {
    scrollbar-width: none;
}

/* For Chrome, Safari, and Opera */
#suggestions::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
#suggestions {
    scrollbar-width: none;
}