<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Birdédex</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pstyle.css') }}">

</head>

<body>
    <div id="main-container">

        <!-- Top Card -->
        <div id="top-card">

            <!-- Add Bird Logic -->
            <div id="top-main">
                {% if current_user.is_authenticated %}
                <div class="flex-container"> 
                    <div class="left-top-container">                                    
                <div class="add-bird">
                    <div class="bird-search">
                        <form action="{{ url_for('index') }}" method="post">
                            <input type="text" name="bird" id="bird-input" placeholder="Enter a bird name"
                                oninput="fetchSuggestions()">
                            <input type="submit" value="Add Bird">
                        </form>
                    </div>
                    <!-- Add in url for View List-->

                    <div id="suggestions" style="display:none;"></div>
                </div>
                

                <!-- Update Message-->
                <div id="message">
                    {% if message %}
                    <div id="update-message">{{ message }}</div>
                    {% endif %}
                </div>
                {% endif %}
                
            </div>
        </div>   
            
            <!-- More Options -->
            <div id-"button-container">
                <button id="more-options-button">More Options</button>
            </div>
            
            </div>
            <div>Distinct Birds Logged {{ sighted_count }} / {{ total_bird_count }}</div>
            <div class="progress-bar">
                <div class="progress-bar-fill" style="width: {{ (sighted_count / total_bird_count) * 100 }}%;">
                    Total Distinct Birds Logged {{ sighted_count }}/{{ total_bird_count }}
                </div>
            </div>
            <div id="more-options-content" style="display: none;">

                <div id="new-list-form">
                    <h2>Create a New List</h2>
                    <form action="{{ url_for('userlist') }}" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                        <input type="text" name="list_name" placeholder="Enter list title" required>
                        <input type="submit" value="Create List">
                    </form>
                </div>
        
                <!-- Display existing lists -->
                <div id="existing-lists">
                    <h2>Existing Lists</h2>
                    <ul class='no-bullets'>
                        {% for list in lists %}
                            <li style="display: flex; justify-content: center; align-items: center;">
                                <div style="flex-grow: 1; text-align: center;">
                                    <a class="list_white_content_link" href="{{ url_for('view_list', listid=list.listid) }}" style="margin-right: 10px;">{{ list.title }}</a>
                                    - Created on {{ list.created_at.strftime('%Y-%m-%d') }}
                                </div>
                                <!-- Delete List Form -->
                                <form action="{{ url_for('delete_list', listid=list.listid) }}" method="POST" onsubmit="return confirmDeleteList('{{ list.title }}')" style="margin-left: 10px;">
                                    <button type="submit">Delete List</button>
                                </form>
                            </li>
                        {% else %}
                            <li>No lists found.</li>
                        {% endfor %}
                    </ul>
                </div>    
                </div>
        </div>

        <!-- Bottom Card -->
        <!-- Bottom Card -->
        <div id="bottom-card">
            <div id="book">
                <table>
                    {% for bird_name, sighting_time in user_birdedex %}
                    <tr id="bird-{{ loop.index }}" class="{{ 'unseen' if not sighting_time else 'seen' }}">
                        <td>{{ loop.index }}</td>
                        <td>
                            {% if sighting_time %}
                            <b>{{ bird_name }}</b>
                            {% else %}
                            <i>{{ bird_name }}</i>
                            {% endif %}
                        </td>
                        <td>
                            {% if sighting_time %}
                            {{ sighting_time.strftime('%m-%d-%Y') }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        

        <!-- Exrta -->
        
        </div>
        <div class="user-info">
            <span>Logged in as {{ current_user.username }}</span>
            <form action="{{ url_for('logout') }}" method="post">
                <input type="submit" value="Logout">
            </form>
        </div>
        <div class="logo">
            <span>
                BeakBook
            </span>
        </div>

        










        <script>
            document.getElementById('more-options-button').addEventListener('click', function() {
    var content = document.getElementById('more-options-content');
    if (content.style.display === 'none') {
        content.style.display = 'block';
    } else {
        content.style.display = 'none';
    }
});

            function toggleMenu() {
                var menu = document.getElementById("slide-in-menu");
                menu.style.width = menu.style.width === '250px' ? '0' : '250px';
            }
            window.onload = function () {
    setTimeout(function () {
        var anchor_id = "{{ anchor_id }}";  // Get the anchor_id passed from Flask
        if (anchor_id) {
            var element = document.getElementById(anchor_id);
            if (element) {
                element.scrollIntoView({ behavior: 'smooth', block: 'center' });
            }
        }
    }, 100); // Adjust the timeout as needed
}

            function fetchSuggestions() {
                var input = document.getElementById('bird-input');
                var query = input.value;

                if (query.length < 2) {
                    document.getElementById('suggestions').style.display = 'none';
                    return;
                }

                fetch('/suggest_birds?query=' + query)
                    .then(response => response.json())
                    .then(suggestions => {
                        var suggestionsDiv = document.getElementById('suggestions');
                        suggestionsDiv.innerHTML = '';
                        suggestions.forEach(function (suggestion) {
                            var div = document.createElement('div');
                            div.innerHTML = suggestion;
                            div.onclick = function () {
                                input.value = suggestion;
                                suggestionsDiv.style.display = 'none';
                            };
                            suggestionsDiv.appendChild(div);
                        });
                        if (suggestions.length > 0) {
                            suggestionsDiv.style.display = 'block';
                        } else {
                            suggestionsDiv.style.display = 'none';
                        }
                    })
                    .catch(error => console.error('Error fetching suggestions:', error));
            }

            window.onclick = function (event) {
                if (!event.target.matches('#bird-input')) {
                    document.getElementById('suggestions').style.display = 'none';
                }
            };
        </script>
    </div>
</body>

</html>