<!DOCTYPE html>
<html>
<head>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pstyle.css') }}">

    
</head>
</head>
<body>
</div>
<div id="main-container">
    <div id="top-card">
            <div id="title">
                <p>
                    BeakBook
                </p>
            </div>
    </div>
    <div id="bottom-card">
        <h2>Login</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <p>Need an account? <a href="{{ url_for('register') }}">register here</a></p>
</div>
</div>
</div>
</body>
</html>
