<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Register for Birdedex</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pstyle.css') }}">
</head>
<body>
    <div id="main-container">
        <div id="top-card">
                <div id="title">
                    <p>
                        BeakBook
                    </p>
                </div>
        </div>
        <div id="bottom-card">
    <form method="POST">
        <h2>
            Register for BeakBook
        </h2>
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a>.</p>
</div>
</div>

</body>
</html>
